 .sec-seven-wrapper  {
    background-color: black;
    padding: 30px 45px;
    position: relative;
    
 }

 .sec-seven-content {
    padding: 30px 100px;
 }

.sec-seven-footer h4, .span-div span {
     font-weight: 200;
     font-size:10px;
     color: rgba(155, 105, 105, 0.8);
     
 }

 .sec-seven-footer h4  {
     padding-left: 10px;
 }

 .sec-seven-footer form {
     padding: 40px 0px 20px 10px;
 }

 .sec-seven-footer form select {
     height: 7vh;
     width: 10%;
     color: rgba(155, 105, 105, 0.8);

 }

 .sec-seven-footer form i {
     color:rgba(155, 105, 105, 0.8);
 }

 .sec-seven-footer form option {
     color: white;
 }

 .span-div {
     display: flex;
     justify-content: flex-start;
     flex-wrap: wrap;
     align-items: center;
     /* padding: 30px; */

 }

 /* .span-div a { 
     
 } */

 .span-div a {
    text-decoration: none;
     margin: 10px;
     width: 21%;
 }

 .brand-name span {
     padding-left: 10px;
     font-weight: 200;
     font-size: 10px;
     color:rgba(155, 105, 105, 0.8);

 }

 span:hover {
     cursor: pointer;
 }

 @media (max-width: 950px) {
    .sec-seven-content {
        padding: 30px 80px;
    }

    .span-div {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        /* padding: 30px; */
   
    }

    .span-div a {
        text-decoration: none;
         margin: 10px;
         width: 20%;
     }

     .sec-seven-footer form select {
        height: 7vh;
        width: 18%;
        color: rgba(155, 105, 105, 0.8);
   
    }
 }

 @media (max-width: 750px) {
    .sec-seven-content {
        padding: 30px 50px;
    }

    .span-div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        /* padding: 30px; */
   
    }

    .span-div a {
        text-decoration: none;
         margin: 10px;
         width: 26%;
     }

     .sec-seven-footer form select {
        height: 7vh;
        width: 18%;
        color: rgba(155, 105, 105, 0.8);
   
    }
 }

 
 @media (max-width: 500px) {
    .sec-seven-content {
        padding: 30px 30px;
    }

    .span-div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        /* padding: 30px; */
   
    }

    .span-div a {
        text-decoration: none;
         margin: 10px;
         width: 30%;
     }

     .sec-seven-footer form select {
        height: 7vh;
        width: 18%;
        color: rgba(155, 105, 105, 0.8);
   
    }
 }